<a href="https://colab.research.google.com/github/SvetlanaErmakova/Analytics-and-statistics/blob/main/Cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Попробуем предсказать стоимость машин и понять, от каких факторов зависит ценообразование на автомобили. Помимо этого выясним, какие переменные важны для прогнозирования и насколько хорошо полученная модель описывает данные.

1.	Загрузим данные, проверим правильность, наличие пропущенных значений, типы данных.
2.	Создадим новый признак – марку автомобиля (company). Далее исправим названия и проверим изменения.
3.	Оставим только часть предикторов, после чего посчитаем корреляцию между price и другими переменными.
4.	Преобразуем категориальные переменные с помощью pd.get_dummies().
5.	Построим модель с одним предиктором цены – horsepower.
6.	Далее – две модели (со всеми предикторами и со всеми, кроме марок машин). Выберем какую модель лучше оставить?
7.	Попробуем избавиться от мультиколлинеарности

In [ ]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
sns.set(rc = {'figure.figsize': (12, 6)}, style = "whitegrid")

In [ ]:
cars = pd.read_csv("https://stepik.org/media/attachments/lesson/387691/cars.csv")

##1. Загрузим данные, проверим правильность, наличие пропущенных значений, типы данных.

In [ ]:
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
cars.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [ ]:
cars.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

##2. Создадим новый признак – марку автомобиля (company). Далее исправим названия и проверим изменения.

Кардинальность признака высокая (количество категорий в категориальном признаке) - что не очень хорошо. Чтобы предсказания были более осмысленными, кардинальность надо сокращать. Потому будем рассматривать не полное название авто, а только его марку.

In [ ]:
cars.CarName.nunique()

147

In [ ]:
cars.CarName.unique()

array(['alfa-romero giulia', 'alfa-romero stelvio',
       'alfa-romero Quadrifoglio', 'audi 100 ls', 'audi 100ls',
       'audi fox', 'audi 5000', 'audi 4000', 'audi 5000s (diesel)',
       'bmw 320i', 'bmw x1', 'bmw x3', 'bmw z4', 'bmw x4', 'bmw x5',
       'chevrolet impala', 'chevrolet monte carlo', 'chevrolet vega 2300',
       'dodge rampage', 'dodge challenger se', 'dodge d200',
       'dodge monaco (sw)', 'dodge colt hardtop', 'dodge colt (sw)',
       'dodge coronet custom', 'dodge dart custom',
       'dodge coronet custom (sw)', 'honda civic', 'honda civic cvcc',
       'honda accord cvcc', 'honda accord lx', 'honda civic 1500 gl',
       'honda accord', 'honda civic 1300', 'honda prelude',
       'honda civic (auto)', 'isuzu MU-X', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'jaguar xj', 'jaguar xf', 'jaguar xk',
       'maxda rx3', 'maxda glc deluxe', 'mazda rx2 coupe', 'mazda rx-4',
       'mazda glc deluxe', 'mazda 626', 'mazda glc', 'mazda rx-7 gs',
       'mazda glc 4', 'mazda glc custom l', 'mazda glc custom',
       'buick electra 225 custom', 'buick century luxus (sw)',
       'buick century', 'buick skyhawk', 'buick opel isuzu deluxe',
       'buick skylark', 'buick century special',
       'buick regal sport coupe (turbo)', 'mercury cougar',
       'mitsubishi mirage', 'mitsubishi lancer', 'mitsubishi outlander',
       'mitsubishi g4', 'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi pajero', 'Nissan versa', 'nissan gt-r', 'nissan rogue',
       'nissan latio', 'nissan titan', 'nissan leaf', 'nissan juke',
       'nissan note', 'nissan clipper', 'nissan nv200', 'nissan dayz',
       'nissan fuga', 'nissan otti', 'nissan teana', 'nissan kicks',
       'peugeot 504', 'peugeot 304', 'peugeot 504 (sw)', 'peugeot 604sl',
       'peugeot 505s turbo diesel', 'plymouth fury iii',
       'plymouth cricket', 'plymouth satellite custom (sw)',
       'plymouth fury gran sedan', 'plymouth valiant', 'plymouth duster',
       'porsche macan', 'porcshce panamera', 'porsche cayenne',
       'porsche boxter', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99le', 'saab 99gle', 'subaru', 'subaru dl', 'subaru brz',
       'subaru baja', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota corona mark ii', 'toyota corona',
       'toyota corolla 1200', 'toyota corona hardtop',
       'toyota corolla 1600 (sw)', 'toyota carina', 'toyota mark ii',
       'toyota corolla', 'toyota corolla liftback',
       'toyota celica gt liftback', 'toyota corolla tercel',
       'toyota corona liftback', 'toyota starlet', 'toyota tercel',
       'toyota cressida', 'toyota celica gt', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen model 111', 'volkswagen type 3', 'volkswagen 411 (sw)',
       'volkswagen super beetle', 'volkswagen dasher', 'vw dasher',
       'vw rabbit', 'volkswagen rabbit', 'volkswagen rabbit custom',
       'volvo 145e (sw)', 'volvo 144ea', 'volvo 244dl', 'volvo 245',
       'volvo 264gl', 'volvo diesel', 'volvo 246'], dtype=object)

In [ ]:
'audi 100 ls'.split(' ')

['audi', '100', 'ls']

In [ ]:
cars['company'] = cars.CarName.apply(lambda x : x.split(' ')[0])
cars.company.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

##3. Оставим только часть предикторов, после чего посчитаем корреляцию между price и другими переменными.

Некоторые названия марок машин написаны с ошибками, переправим их и посмотрим, сколько производителей осталось в итоге

Приведем все к нижнему регистру, чтобы пофиксить случай, когда названия считаются разными, тк написаны в разном регистре или с большой и маленькой букв.

In [ ]:
cars.company = cars.company.str.lower()

Для остальных, замеченных нами случаев, напишем функцию:

In [ ]:
def fix_company(to_rep, how_rep):
    cars.company.replace(to_rep, how_rep, inplace = True)

In [ ]:
fix_company('maxda', 'mazda')
fix_company('porsche', 'porshce')
fix_company('porcshce', 'porshce')
fix_company('toyouta', 'toyota')
fix_company('vokswagen', 'volkswagen')
fix_company('vw', 'volkswagen')

In [ ]:
cars.company.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porshce', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [ ]:
cars.company.nunique()

22

Отберем часть колонок

In [ ]:
cars.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price', 'company'],
      dtype='object')

In [ ]:
cols_to_keep = [ 'company', 'fueltype', 'aspiration', 'carbody', 'drivewheel', 'wheelbase', 'carlength', 'carwidth',
                'curbweight', 'enginetype', 'cylindernumber', 'enginesize', 'boreratio', 'horsepower', 'price']
df = cars[cols_to_keep]
df

,company,fueltype,aspiration,carbody,drivewheel,wheelbase,carlength,carwidth,curbweight,enginetype,cylindernumber,enginesize,boreratio,horsepower,price
0,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111,13495.0
1,alfa-romero,gas,std,convertible,rwd,88.6,168.8,64.1,2548,dohc,four,130,3.47,111,16500.0
2,alfa-romero,gas,std,hatchback,rwd,94.5,171.2,65.5,2823,ohcv,six,152,2.68,154,16500.0
3,audi,gas,std,sedan,fwd,99.8,176.6,66.2,2337,ohc,four,109,3.19,102,13950.0
4,audi,gas,std,sedan,4wd,99.4,176.6,66.4,2824,ohc,five,136,3.19,115,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,2952,ohc,four,141,3.78,114,16845.0
201,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.8,3049,ohc,four,141,3.78,160,19045.0
202,volvo,gas,std,sedan,rwd,109.1,188.8,68.9,3012,ohcv,six,173,3.58,134,21485.0
203,volvo,diesel,turbo,sedan,rwd,109.1,188.8,68.9,3217,ohc,six,145,3.01,106,22470.0
204,volvo,gas,turbo,sedan,rwd,109.1,188.8,68.9,3062,ohc,four,141,3.78,114,22625.0

In [ ]:
numeric_df = df.select_dtypes(include=['number'])
mat_cor = numeric_df.corr()

In [ ]:
mat_cor['price'].sort_values(ascending = False).round(2)

price         1.00
enginesize    0.87
curbweight    0.84
horsepower    0.81
carwidth      0.76
carlength     0.68
wheelbase     0.58
boreratio     0.55
Name: price, dtype: float64

##4. Преобразуем категориальные переменные с помощью pd.get_dummies().

In [ ]:
cars.dtypes

car_ID                int64
symboling             int64
CarName              object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
company              object
dtype: object

In [ ]:
df.select_dtypes(include=['object']).columns

Index(['company', 'fueltype', 'aspiration', 'carbody', 'drivewheel',
       'enginetype', 'cylindernumber'],
      dtype='object')

на каждую категорию создалось по отдельной переменной, чтобы не было мультиколлиниарности - ставим drop_first = True

In [ ]:
df_dummy = pd.get_dummies( data = df[['company', 'fueltype', 'aspiration', 'carbody', 'drivewheel',
       'enginetype', 'cylindernumber']], drop_first = True)

In [ ]:
df_dummy

,company_audi,company_bmw,company_buick,company_chevrolet,company_dodge,company_honda,company_isuzu,company_jaguar,company_mazda,company_mercury,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False

In [ ]:
cars_lr = pd.get_dummies(df, drop_first = True)
cars_lr.head()

,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower,price,company_audi,company_bmw,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,88.6,168.8,64.1,2548,130,3.47,111,13495.0,False,False,...,False,False,False,False,False,True,False,False,False,False
1,88.6,168.8,64.1,2548,130,3.47,111,16500.0,False,False,...,False,False,False,False,False,True,False,False,False,False
2,94.5,171.2,65.5,2823,152,2.68,154,16500.0,False,False,...,False,False,True,False,False,False,True,False,False,False
3,99.8,176.6,66.2,2337,109,3.19,102,13950.0,True,False,...,True,False,False,False,False,True,False,False,False,False
4,99.4,176.6,66.4,2824,136,3.19,115,17450.0,True,False,...,True,False,False,False,True,False,False,False,False,False

##5. Построим модель с одним предиктором цены – horsepower.

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
results = smf.ols('price ~ horsepower', cars_lr).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     382.2
Date:                Thu, 05 Sep 2024   Prob (F-statistic):           1.48e-48
Time:                        13:48:26   Log-Likelihood:                -2024.0
No. Observations:                 205   AIC:                             4052.
Df Residuals:                     203   BIC:                             4059.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -3721.7615    929.849     -4.003      0.000   -5555.163   -1888.360
horsepower   163.2631      8.351     19.549      0.000     146.796     179.730
==============================================================================
Omnibus:                       47.741   Durbin-Watson:                   0.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.702
Skew:                           1.141   Prob(JB):                     1.22e-20
Kurtosis:                       5.352   Cond. No.                         314.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Сделаем интерсепт(значение цены, когда horsepower = 0) поянтнее, а то получается, что когда лошадиные силы = 0, нам за машину доплатят :)

In [ ]:
#центрировали, те теперь среднее новой переменной horsepower_cent = 0
cars_lr["horsepower_cent"] = cars_lr["horsepower"] - cars_lr["horsepower"].mean()

In [ ]:
results = smf.ols('price ~ horsepower_cent', cars_lr).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.653
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     382.2
Date:                Thu, 05 Sep 2024   Prob (F-statistic):           1.48e-48
Time:                        13:48:26   Log-Likelihood:                -2024.0
No. Observations:                 205   AIC:                             4052.
Df Residuals:                     203   BIC:                             4059.
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        1.328e+04    329.446     40.300      0.000    1.26e+04    1.39e+04
horsepower_cent   163.2631      8.351     19.549      0.000     146.796     179.730
==============================================================================
Omnibus:                       47.741   Durbin-Watson:                   0.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               91.702
Skew:                           1.141   Prob(JB):                     1.22e-20
Kurtosis:                       5.352   Cond. No.                         39.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
#для машин со средним значением horsepower цена будет ~ 13 тысяч долларов
1.328e+04

13280.0

Делаем вывод по рез-м регрессии, что при увеличении лошадиных сил на единицу цена увеличивается на 163.2631 доллара(тк имеем положительный коэф-т 163 при предикторе horsepower), при уменьшении падает на 163.2631 доллара. Тк R^2 = 0.653 означает, что примерно 65.3% вариации в цене автомобилей может быть объяснено изменениями в мощности.

In [ ]:
#уберем этот, уже не нужный, столбец
cars_lr.drop("horsepower_cent", inplace = True, axis = 1)

##6. Далее – две модели (со всеми предикторами и со всеми, кроме марок машин). Выберем какую модель лучше оставить?

In [ ]:
#создадим 2 массива, в одном предикторы, в другом то, что предсказываем
X = cars_lr.drop(['price'], axis = 'columns')
Y = cars_lr['price']

#X = pd.get_dummies(X, drop_first=True)
#не забываем специально добавить интерсепт
X = sm.add_constant(X)

X

,const,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower,company_audi,company_bmw,...,enginetype_ohc,enginetype_ohcf,enginetype_ohcv,enginetype_rotor,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
0,1.0,88.6,168.8,64.1,2548,130,3.47,111,False,False,...,False,False,False,False,False,True,False,False,False,False
1,1.0,88.6,168.8,64.1,2548,130,3.47,111,False,False,...,False,False,False,False,False,True,False,False,False,False
2,1.0,94.5,171.2,65.5,2823,152,2.68,154,False,False,...,False,False,True,False,False,False,True,False,False,False
3,1.0,99.8,176.6,66.2,2337,109,3.19,102,True,False,...,True,False,False,False,False,True,False,False,False,False
4,1.0,99.4,176.6,66.4,2824,136,3.19,115,True,False,...,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.0,109.1,188.8,68.9,2952,141,3.78,114,False,False,...,True,False,False,False,False,True,False,False,False,False
201,1.0,109.1,188.8,68.8,3049,141,3.78,160,False,False,...,True,False,False,False,False,True,False,False,False,False
202,1.0,109.1,188.8,68.9,3012,173,3.58,134,False,False,...,False,False,True,False,False,False,True,False,False,False
203,1.0,109.1,188.8,68.9,3217,145,3.01,106,False,False,...,True,False,False,False,False,False,True,False,False,False
204,1.0,109.1,188.8,68.9,3062,141,3.78,114,False,False,...,True,False,False,False,False,True,False,False,False,False

In [ ]:
list(enumerate(X.columns))

[(0, 'const'),
 (1, 'wheelbase'),
 (2, 'carlength'),
 (3, 'carwidth'),
 (4, 'curbweight'),
 (5, 'enginesize'),
 (6, 'boreratio'),
 (7, 'horsepower'),
 (8, 'company_audi'),
 (9, 'company_bmw'),
 (10, 'company_buick'),
 (11, 'company_chevrolet'),
 (12, 'company_dodge'),
 (13, 'company_honda'),
 (14, 'company_isuzu'),
 (15, 'company_jaguar'),
 (16, 'company_mazda'),
 (17, 'company_mercury'),
 (18, 'company_mitsubishi'),
 (19, 'company_nissan'),
 (20, 'company_peugeot'),
 (21, 'company_plymouth'),
 (22, 'company_porshce'),
 (23, 'company_renault'),
 (24, 'company_saab'),
 (25, 'company_subaru'),
 (26, 'company_toyota'),
 (27, 'company_volkswagen'),
 (28, 'company_volvo'),
 (29, 'fueltype_gas'),
 (30, 'aspiration_turbo'),
 (31, 'carbody_hardtop'),
 (32, 'carbody_hatchback'),
 (33, 'carbody_sedan'),
 (34, 'carbody_wagon'),
 (35, 'drivewheel_fwd'),
 (36, 'drivewheel_rwd'),
 (37, 'enginetype_dohcv'),
 (38, 'enginetype_l'),
 (39, 'enginetype_ohc'),
 (40, 'enginetype_ohcf'),
 (41, 'enginetype_ohcv'),
 (42, 'enginetype_rotor'),
 (43, 'cylindernumber_five'),
 (44, 'cylindernumber_four'),
 (45, 'cylindernumber_six'),
 (46, 'cylindernumber_three'),
 (47, 'cylindernumber_twelve'),
 (48, 'cylindernumber_two')]

In [ ]:
X = np.asarray(X, dtype=np.float64)
#Y = np.asarray(Y, dtype=np.float64)

model_1 = sm.OLS(Y, X).fit()
print(model_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.959
Model:                            OLS   Adj. R-squared:                  0.948
Method:                 Least Squares   F-statistic:                     81.09
Date:                Thu, 05 Sep 2024   Prob (F-statistic):           4.86e-89
Time:                        13:48:27   Log-Likelihood:                -1804.2
No. Observations:                 205   AIC:                             3702.
Df Residuals:                     158   BIC:                             3858.
Df Model:                          46
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.472e+04   1.17e+04     -2.959      0.004   -5.79e+04   -1.15e+04
x1           147.1396     76.234      1.930      0.055      -3.429     297.708
x2          -113.2012     48.949     -2.313      0.022    -209.881     -16.522
x3           809.1860    214.508      3.772      0.000     385.514    1232.858
x4             4.1822      1.582      2.643      0.009       1.057       7.307
x5            61.4212     23.643      2.598      0.010      14.724     108.119
x6         -4319.4728   1759.825     -2.454      0.015   -7795.288    -843.657
x7            34.7010     18.000      1.928      0.056      -0.850      70.252
x8           437.1040   2125.971      0.206      0.837   -3761.885    4636.093
x9          7993.4998   2105.132      3.797      0.000    3835.671    1.22e+04
x10         3431.0969   2472.252      1.388      0.167   -1451.829    8314.023
x11        -2107.0167   2054.269     -1.026      0.307   -6164.387    1950.353
x12        -3034.5530   1686.337     -1.799      0.074   -6365.224     296.118
x13        -2328.7396   1622.141     -1.436      0.153   -5532.617     875.138
x14         -926.1643   1819.489     -0.509      0.611   -4519.823    2667.495
x15         2695.2664   2546.268      1.059      0.291   -2333.847    7724.379
x16        -1291.5657   1652.561     -0.782      0.436   -4555.527    1972.395
x17        -2762.0259   2786.701     -0.991      0.323   -8266.016    2741.965
x18        -3699.6473   1650.046     -2.242      0.026   -6958.640    -440.654
x19        -1488.1217   1563.564     -0.952      0.343   -4576.305    1600.061
x20        -2671.4595   1795.328     -1.488      0.139   -6217.398     874.479
x21        -3052.1258   1670.829     -1.827      0.070   -6352.166     247.915
x22         4915.9715   2797.761      1.757      0.081    -609.864    1.04e+04
x23        -2865.2197   2073.046     -1.382      0.169   -6959.676    1229.237
x24          719.8222   1767.620      0.407      0.684   -2771.390    4211.035
x25        -1.164e+04   3416.221     -3.407      0.001   -1.84e+04   -4892.375
x26        -2608.7871   1539.320     -1.695      0.092   -5649.086     431.512
x27        -2261.9355   1606.886     -1.408      0.161   -5435.683     911.812
x28           68.2605   1943.170      0.035      0.972   -3769.679    3906.200
x29         -243.7792    908.310     -0.268      0.789   -2037.774    1550.216
x30          596.6566    676.548      0.882      0.379    -739.588    1932.902
x31        -2556.7157   1213.929     -2.106      0.037   -4954.337    -159.094
x32        -3044.4196   1107.064     -2.750      0.007   -5230.972    -857.867
x33        -2256.9173   1154.971     -1.954      0.052   -4538.090      24.256
x34        -2815.4970   1223.156     -2.302      0.023   -5231.343    -399.651
x35         -169.4926    888.585     -0.191      0.849   -1924.531    1585.545
x36          231.9066   1039.685      0.223      0.824   -1821.566    2285.380
x37        -8358.0756   4326.239     -1.932      0.055   -1.69e+04     186.645
x38        -1067.3120   1602.125     -0.666      0.506   -4231.657    2097.033
x39         -273.7175   1063.557     -0.257      0.797   -2374.341    1826.906
x40         1.031e+04   2672.508      3.857      0.000    5028.873    1.56e+04
x41        -2393.8587   1214.631     -1.971      0.050   -4792.867       5.150
x42           37.4715   2092.597      0.018      0.986   -4095.600    4170.543
x43        -5235.5232   2887.214     -1.813      0.072   -1.09e+04     466.990
x44        -3741.3604   3542.130     -1.056      0.292   -1.07e+04    3254.673
x45        -5441.5317   2628.646     -2.070      0.040   -1.06e+04    -249.713
x46         1604.1476   2774.698      0.578      0.564   -3876.137    7084.432
x47        -8097.1585   3616.336     -2.239      0.027   -1.52e+04    -954.561
x48           37.4715   2092.597      0.018      0.986   -4095.600    4170.543
==============================================================================
Omnibus:                       81.075   Durbin-Watson:                   1.382
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              487.187
Skew:                           1.379   Prob(JB):                    1.62e-106
Kurtosis:                      10.031   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [ ]:
X

array([[  1. ,  88.6, 168.8, ...,   0. ,   0. ,   0. ],
       [  1. ,  88.6, 168.8, ...,   0. ,   0. ,   0. ],
       [  1. ,  94.5, 171.2, ...,   0. ,   0. ,   0. ],
       ...,
       [  1. , 109.1, 188.8, ...,   0. ,   0. ,   0. ],
       [  1. , 109.1, 188.8, ...,   0. ,   0. ,   0. ],
       [  1. , 109.1, 188.8, ...,   0. ,   0. ,   0. ]])

Мы выкидывали какую то марку(чтобы не было идеальной мультиколлинеарности), так вот теперь ее значение как бы скрыто в интерсепте, а все остальные коэфф-ты(c x8 по х28), кт стоят при переменных, полученных из категорий марки машины(company) - это как изменится значение price если вместо той скрытой марки, возьмем данную. Похожим образом можем оценить др категориальные переменные.

Причем видим, что большинство коэф-тов, кт стоят при переменных, полученных из категорий марки машины(company), отличается от выкинутой марки не значимо!(pvalue > альфа = 0.05)

теперь проведем регрессию без company

In [ ]:
cols_to_keep = cars_lr.columns[~cars_lr.columns.str.startswith('company_')]
cols_to_keep

Index(['wheelbase', 'carlength', 'carwidth', 'curbweight', 'enginesize',
       'boreratio', 'horsepower', 'price', 'fueltype_gas', 'aspiration_turbo',
       'carbody_hardtop', 'carbody_hatchback', 'carbody_sedan',
       'carbody_wagon', 'drivewheel_fwd', 'drivewheel_rwd', 'enginetype_dohcv',
       'enginetype_l', 'enginetype_ohc', 'enginetype_ohcf', 'enginetype_ohcv',
       'enginetype_rotor', 'cylindernumber_five', 'cylindernumber_four',
       'cylindernumber_six', 'cylindernumber_three', 'cylindernumber_twelve',
       'cylindernumber_two'],
      dtype='object')

In [ ]:
X_2 = cars_lr[cols_to_keep].drop('price', axis = 'columns')
Y_2 = cars_lr['price']

In [ ]:
X_2 = sm.add_constant(X_2)

In [ ]:
X_2 = np.asarray(X, dtype=np.float64)
#Y = np.asarray(Y, dtype=np.float64)

model_2 = sm.OLS(Y_2, X_2).fit()
print(model_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.959
Model:                            OLS   Adj. R-squared:                  0.948
Method:                 Least Squares   F-statistic:                     81.09
Date:                Thu, 05 Sep 2024   Prob (F-statistic):           4.86e-89
Time:                        13:48:27   Log-Likelihood:                -1804.2
No. Observations:                 205   AIC:                             3702.
Df Residuals:                     158   BIC:                             3858.
Df Model:                          46
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -3.472e+04   1.17e+04     -2.959      0.004   -5.79e+04   -1.15e+04
x1           147.1396     76.234      1.930      0.055      -3.429     297.708
x2          -113.2012     48.949     -2.313      0.022    -209.881     -16.522
x3           809.1860    214.508      3.772      0.000     385.514    1232.858
x4             4.1822      1.582      2.643      0.009       1.057       7.307
x5            61.4212     23.643      2.598      0.010      14.724     108.119
x6         -4319.4728   1759.825     -2.454      0.015   -7795.288    -843.657
x7            34.7010     18.000      1.928      0.056      -0.850      70.252
x8           437.1040   2125.971      0.206      0.837   -3761.885    4636.093
x9          7993.4998   2105.132      3.797      0.000    3835.671    1.22e+04
x10         3431.0969   2472.252      1.388      0.167   -1451.829    8314.023
x11        -2107.0167   2054.269     -1.026      0.307   -6164.387    1950.353
x12        -3034.5530   1686.337     -1.799      0.074   -6365.224     296.118
x13        -2328.7396   1622.141     -1.436      0.153   -5532.617     875.138
x14         -926.1643   1819.489     -0.509      0.611   -4519.823    2667.495
x15         2695.2664   2546.268      1.059      0.291   -2333.847    7724.379
x16        -1291.5657   1652.561     -0.782      0.436   -4555.527    1972.395
x17        -2762.0259   2786.701     -0.991      0.323   -8266.016    2741.965
x18        -3699.6473   1650.046     -2.242      0.026   -6958.640    -440.654
x19        -1488.1217   1563.564     -0.952      0.343   -4576.305    1600.061
x20        -2671.4595   1795.328     -1.488      0.139   -6217.398     874.479
x21        -3052.1258   1670.829     -1.827      0.070   -6352.166     247.915
x22         4915.9715   2797.761      1.757      0.081    -609.864    1.04e+04
x23        -2865.2197   2073.046     -1.382      0.169   -6959.676    1229.237
x24          719.8222   1767.620      0.407      0.684   -2771.390    4211.035
x25        -1.164e+04   3416.221     -3.407      0.001   -1.84e+04   -4892.375
x26        -2608.7871   1539.320     -1.695      0.092   -5649.086     431.512
x27        -2261.9355   1606.886     -1.408      0.161   -5435.683     911.812
x28           68.2605   1943.170      0.035      0.972   -3769.679    3906.200
x29         -243.7792    908.310     -0.268      0.789   -2037.774    1550.216
x30          596.6566    676.548      0.882      0.379    -739.588    1932.902
x31        -2556.7157   1213.929     -2.106      0.037   -4954.337    -159.094
x32        -3044.4196   1107.064     -2.750      0.007   -5230.972    -857.867
x33        -2256.9173   1154.971     -1.954      0.052   -4538.090      24.256
x34        -2815.4970   1223.156     -2.302      0.023   -5231.343    -399.651
x35         -169.4926    888.585     -0.191      0.849   -1924.531    1585.545
x36          231.9066   1039.685      0.223      0.824   -1821.566    2285.380
x37        -8358.0756   4326.239     -1.932      0.055   -1.69e+04     186.645
x38        -1067.3120   1602.125     -0.666      0.506   -4231.657    2097.033
x39         -273.7175   1063.557     -0.257      0.797   -2374.341    1826.906
x40         1.031e+04   2672.508      3.857      0.000    5028.873    1.56e+04
x41        -2393.8587   1214.631     -1.971      0.050   -4792.867       5.150
x42           37.4715   2092.597      0.018      0.986   -4095.600    4170.543
x43        -5235.5232   2887.214     -1.813      0.072   -1.09e+04     466.990
x44        -3741.3604   3542.130     -1.056      0.292   -1.07e+04    3254.673
x45        -5441.5317   2628.646     -2.070      0.040   -1.06e+04    -249.713
x46         1604.1476   2774.698      0.578      0.564   -3876.137    7084.432
x47        -8097.1585   3616.336     -2.239      0.027   -1.52e+04    -954.561
x48           37.4715   2092.597      0.018      0.986   -4095.600    4170.543
==============================================================================
Omnibus:                       81.075   Durbin-Watson:                   1.382
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              487.187
Skew:                           1.379   Prob(JB):                    1.62e-106
Kurtosis:                      10.031   Cond. No.                     1.02e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.35e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Видим, что у модели немного поменьше R квадрат (на 5 %  - те это явно не самый важный предиктор) - те "объяснительная сила модели" стала поменьше, но сама модель за счет уменьшения колва коэффтов стала менее перегруженной

##7. Попробуем избавиться от мультиколлинеарности

Посчитаем для каждого столбца VIF, если он меньше 5/10 - беспокоиться не о чем.
Тут же нам даже встречается значение inf у перемнной enginetype_rotor - так что переменную enginetype точно стоит модифицировать (либо сократить кол-во категорий, либо избавиться от такого предиктора в нашей моделе)

In [ ]:
# from statsmodels.stats.outliers_influence import variance_inflation_factor

# vif_data = pd.DataFrame()
# vif_data["feature"] = X_2.columns

# vif_data["VIF"] = [variance_inflation_factor(X_2.values, i)
#                             for i in range(len(X_2.columns))]

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

Можем использовать обобщенную линейную модель, которая не предполагает нормальность распределения отклика ни нормальность распределения ошибок

In [ ]:
model_gamma = sm.GLM(Y_2, X_2, family = sm.families.Gamma(link = sm.families.links.log())).fit()
print(model_gamma.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                  price   No. Observations:                  205
Model:                            GLM   Df Residuals:                      158
Model Family:                   Gamma   Df Model:                           46
Link Function:                    log   Scale:                        0.013658
Method:                          IRLS   Log-Likelihood:                -1745.8
Date:                Thu, 05 Sep 2024   Deviance:                       2.1741
Time:                        13:51:03   Pearson chi2:                     2.16
No. Iterations:                    14   Pseudo R-squ. (CS):              1.000
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.7097      0.749      7.620      0.000       4.241       7.178
x1             0.0114      0.005      2.336      0.019       0.002       0.021
x2            -0.0047      0.003     -1.511      0.131      -0.011       0.001
x3             0.0369      0.014      2.692      0.007       0.010       0.064
x4             0.0005      0.000      5.094      0.000       0.000       0.001
x5             0.0010      0.002      0.691      0.490      -0.002       0.004
x6            -0.1350      0.112     -1.201      0.230      -0.355       0.085
x7             0.0025      0.001      2.209      0.027       0.000       0.005
x8             0.0598      0.136      0.441      0.659      -0.206       0.326
x9             0.3267      0.134      2.430      0.015       0.063       0.590
x10           -0.1346      0.158     -0.853      0.394      -0.444       0.175
x11           -0.2252      0.131     -1.717      0.086      -0.482       0.032
x12           -0.2489      0.108     -2.311      0.021      -0.460      -0.038
x13           -0.1502      0.104     -1.449      0.147      -0.353       0.053
x14           -0.0888      0.116     -0.764      0.445      -0.317       0.139
x15           -0.2803      0.163     -1.724      0.085      -0.599       0.038
x16           -0.1072      0.106     -1.016      0.310      -0.314       0.100
x17           -0.2695      0.178     -1.514      0.130      -0.618       0.079
x18           -0.2807      0.105     -2.663      0.008      -0.487      -0.074
x19           -0.1435      0.100     -1.437      0.151      -0.339       0.052
x20           -0.3450      0.115     -3.009      0.003      -0.570      -0.120
x21           -0.2707      0.107     -2.536      0.011      -0.480      -0.062
x22            0.2739      0.179      1.533      0.125      -0.076       0.624
x23           -0.1712      0.132     -1.293      0.196      -0.431       0.088
x24         7.282e-05      0.113      0.001      0.999      -0.221       0.221
x25           -0.5846      0.218     -2.679      0.007      -1.012      -0.157
x26           -0.2200      0.098     -2.238      0.025      -0.413      -0.027
x27           -0.1363      0.103     -1.328      0.184      -0.337       0.065
x28           -0.1327      0.124     -1.069      0.285      -0.376       0.111
x29           -0.0179      0.058     -0.309      0.757      -0.132       0.096
x30            0.0584      0.043      1.352      0.176      -0.026       0.143
x31           -0.1830      0.078     -2.360      0.018      -0.335      -0.031
x32           -0.2370      0.071     -3.352      0.001      -0.376      -0.098
x33           -0.1750      0.074     -2.373      0.018      -0.320      -0.030
x34           -0.2504      0.078     -3.205      0.001      -0.403      -0.097
x35            0.0053      0.057      0.093      0.926      -0.106       0.117
x36            0.0663      0.066      0.998      0.318      -0.064       0.196
x37           -0.5390      0.276     -1.951      0.051      -1.081       0.003
x38           -0.0768      0.102     -0.751      0.453      -0.277       0.124
x39           -0.0401      0.068     -0.591      0.554      -0.173       0.093
x40            0.3723      0.171      2.181      0.029       0.038       0.707
x41           -0.0482      0.078     -0.621      0.535      -0.200       0.104
x42            0.1009      0.134      0.755      0.450      -0.161       0.363
x43           -0.0518      0.184     -0.281      0.779      -0.413       0.310
x44            0.0310      0.226      0.137      0.891      -0.412       0.474
x45           -0.0988      0.168     -0.589      0.556      -0.428       0.230
x46            0.2682      0.177      1.514      0.130      -0.079       0.616
x47           -0.1814      0.231     -0.786      0.432      -0.634       0.271
x48            0.1009      0.134      0.755      0.450      -0.161       0.363
==============================================================================

/usr/local/lib/python3.10/dist-packages/statsmodels/genmod/families/links.py:13: FutureWarning: The log link alias is deprecated. Use Log instead. The log link alias will be removed after the 0.15.0 release.
  warnings.warn(